@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

main {
  padding: 1rem;
  flex-grow: 1;
  padding: 1rem;
}

button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

/* CONTADOR */

.contadorContainer {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.topContador {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.catalogo {
  display: flex;
  max-width: 1200px;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 3px;
  transition: all 0.3s ease;
  background-color: #f7f0f0;
}

.card img {
  width: 200px;
}

.card:hover {
  transform: scale(1.1);
}

.cargando {
  margin-top: 50px;
}

.detalle {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f0f0;
  width: 300px;
  padding: 1rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.detalle img {
  width: 200px;
}

.contadorContainer button {
  color: #edf0f1;
}

.formulario {
  max-width: 600px;
  margin-top: 50px;
  background-color: lightblue;
  border-radius: 5px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
}

.formulario > div {
  margin-bottom: 20px;
}

.formulario label {
  display: block;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
}

.formulario input,
.formulario textarea {
  width: 100%;
  padding: 10px;
}
